{% load static %}
<!DOCTYPE html>
<html lang="ja">


    <head>
        <meta charset="UTF-8">
        <title>B-PBL</title>
        <link rel="stylesheet" href="{% static 'original/style.css' %}">
        <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
        <script type="text/javascript" src="{% static 'original/style.js' %}"></script>
        
    </head>
    <header>
        <h1>UshIRO</h1>
    </header>

    <body>
        <!-- <p class="main">{{hour}}:{{minute}}:{{second}}</p> -->
        <p>Asia/Tokyo</p>
        <p id="RealtimeClockArea2" class="timer">Time</p>
    </body>

</html>