h1,h2,p,li {
    color: teal;
    text-align: center;
    font-family: "Nico Moji";
}


html{
    background-color: white;
}

.timer{
    font-size: 750%;
}

.header_list{
    margin: 0;
    text-align: center;
}

.header_item{
    list-style: none;
    display: inline-block;
    margin: 0 25px;
    font-size: 150%;
}

